/* 全局样式变量 */

$color-green: #00C130;
$color-green-transparent: #ffffff;
$color-red:#FD1612;
$color-red-transparent: #e04343ad;
$color-text1:#323233;
$color-text2:#646566;
$color-text3:#969799;
$color-text4:#f3f3f3;
$color-page:#f5f5f5;
$color-text5:#e5f9ee;
$color-text6:#768cc7;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexVtCenter{
	display: flex;
	align-items: center;
}
@mixin flexLvCenter{
	display: flex;
	justify-content: center;
}
@mixin absVtCenter{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//遮罩
@mixin mask($zindex:1000) {
    position: fixed;
    z-index: $zindex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* 按钮样式 */
@mixin btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@mixin btnGreen {
    @include btn;
    background-color: $color-green;
}

@mixin btnGreen-gradient {
    @include btn;
    background: linear-gradient(90deg, #24d64e 0%, #2eba59 100%);
}

@mixin btnRed {
    @include btn;
    background: $color-red;
}

//单行文字溢出省略
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//多行文字溢出省略
@mixin ellipsis2($line) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    word-break: keep-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}


/* 以下为uni-app内置样式变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color:#333; //基本色
$uni-text-color-inverse:#fff; //反色
$uni-text-color-grey:#999; //辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1; //点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* 垂直间距 */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2C405A; // 文章标题颜色
$uni-font-size-title:40rpx;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:36rpx;
$uni-color-paragraph: #3F536E; // 文章段落颜色
$uni-font-size-paragraph:30rpx;