//样式重置
* {
	margin: 0;
	padding: 0;
}

:not(not) {
	box-sizing: border-box;
}

//主题色
$color1:#3cb963;
$color2:#e04343;

//禁用
.disable {
	pointer-events: none;
}
//灰色滤镜
.gray {
    filter: grayscale(100%);
}

//溢出省略
@mixin txtHide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}