//样式重置
* {
    margin: 0;
    padding: 0;
}

:not(not) {
    box-sizing: border-box;
}

//隐藏地图logo
.csssprite {
    display: none !important;
}

//禁用
.disable {
    pointer-events: none;
}

//灰色滤镜
.gray {
    filter: grayscale(100%);
}
